body{
    display: flex;
    flex-direction: column;
    background-color: lightseagreen;
   font-family:  Apple Chancery, cursive;
}
#bar-container{
    padding-left: 10px;
}
 #game-container{
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
 }
 .left-bar-container{
    padding-left: 10px;
 }
 #game-info{
    padding-left: 30px;
 }
.highlighter {
    color: blue;
}
ul{
    list-style-type: none;
    padding: 0;
    padding-left: 5px;
}
li{
    cursor: pointer;
    
}
.favorite-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
#favorites-list-container a {
    padding-left: 10px;
}

.arrow-btn {
    font-size: 20px;
}
.hide{
    visibility: hidden;
}
#fav-btn{
    display: flex;
    justify-content: flex-end;
}